<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Life From Kitchen</title>
</head>

<body>
<div class="container">
    <h1 class="mt-5">Lista producentów</h1>
    <div class="row mt-3">
        <div class="col-md-6">
            <form th:action="@{/}" method="get">
                <div class="form-group">
                    <label for="name">Wybierz producenta:</label>
                    <select class="form-control" name="producer" id="name">
                        <option value="" disabled selected>Wybierz producenta...</option>
                        <option th:each="producer : ${producers}" th:value="${producer.name}"
                                th:text="${producer.name}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Wybierz</button>
            </form>
        </div>
    </div>
</div>
</body>